# Laravel
laravel/node_modules
laravel/public/hot
laravel/public/storage
laravel/storage/*.key
laravel/storage/logs/*
laravel/storage/framework/views/*
laravel/vendor
laravel/.env
laravel/.env.backup
laravel/.env.production
laravel/.phpunit.result.cache
laravel/auth.json

# General
.DS_Store
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

# Agent
agent/node_modules
agent/.env
.claude/
